{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">ANTOINE BASLER</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/antoine_basler.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Antoine Basler</h4><p class="card-text">Agent <a href="http://www.lesagentsassocies.com/artiste.cfm/657083-antoine_basler.html" target="blank">Agents Associés</a></p></div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>Après être entré au conservatoire d’Art Dramatique de Genève à l’âge de dix sept ans, Antoine Basler a commencé au théâtre avec Benno Besson. <br>Il entre ensuite au Conservatoire National Supérieur d’Art Dramatique de
                        Paris en 1985, où il a comme<br>professeur, Jean-Pierre Vincent et Claude Régi. <br>A partir de 1988, date de sa sortie, il<br>enchaîne les projets de théâtre avec des metteurs en scène comme Mathias Langhof<br>ou Bernard Sobel,
                        Claude Régy, Yves Beaunesne, Elisabeth Chailloux, Didier Bezace, Adel Hakim, Laurent Laffargue, etc. Il a joué tous les répertoires, tant classiques que contemporains. Antoine Basler a joué dans plus d’une trentaine de longs métrages,
                        réalisés entre autres par <br>Olivier Assayas, Jan Kounen, Eric Rohmer,<br>Jacques Audiard, Julien Leclerc, etc... <br>Parallèlement à cela, il a fait plusieurs mises<br>en scène, et donné des cours à plusieurs reprises, il enseigne
                        depuis septembre 2017 au Cours Florent à Bordeaux. <br>Depuis 2014, il a réalisé plusieurs cours<br>métrages, dont « Le chant des Mygales » et « Love » sélectionnés en Festival. <br>Il a également coréalisé un documentaire “ EHPAD
                        stories” avec Elsa Basler. Il continue à écrire et monter des projets, tant cinématographiques que théâtraux et à exercer le métier de comédien avec beaucoup de plaisir.<br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}