{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post-list">
        <section id="actualites_bg" class="clean-block clean-blog-list dark">
            <div class="container">
                <div id="actualites_title_bg" class="block-heading">
                    <h2 class="text-info">ACTUALITES</h2>
                    <p>Voici des nouvelles de la vie du film, rencontres, débats, projections...<br><br></p>
                </div>
                {% for articles in article %}
                <div id="content-blog-list" class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="{{ articles.image }}"></div>
                            <div class="col-lg-7">
                                <h3>{{ articles.title }}</h3>
                                <div class="info"><span class="text-muted">{{ articles.createdAt | date('d/m/y') }} par&nbsp;<a>{{ articles.author }}</a></span></div>
                                <p>{{ articles.content }}</p></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}