{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">CHRISTIAN MUPONDO</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/christian_mupondo.jpg"><div class="card-body info">
                                    <h4 class="card-title">Christian Mupondo</h4>
                                    <p class="card-text">Agent <a href="http://www.agence-ghyslainezay.com/artiste.cfm/387863-christian-mupondo.html" target="blank">Agence Ghyslaine Zay</a></p>
                                </div></div>
                        </div>
                    </div>
                    <p><br><br><br>Christian Mupondo, un acteur Français d’origine Congolaise vivant à Paris.&nbsp;Il découvre le métier en faisant de la figuration sur le film un prophète de Jacques Audiard.&nbsp;Après deux années dans une école d’acteur
                        à Paris, il débute sa carrière, en participant à plusieurs projets.<br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}