{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Nous écrire</h2>
                    <p>N'hésitez pas à nous contacter afin d'avoir des informations sur le film.</p>
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                <div id="contactForm" class="mt-4">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col ">{{ form_row(form.lastname) }}</div>
                        <div class="col ">{{ form_row(form.subject) }}</div>
                        <div class="col ">{{ form_row(form.email) }}</div>
                        <div class="col m-3">{{ form_row(form.content) }}</div>
                    </div>
                    <div class="form-group"><button class="btn btn-light btn-block" type="submit">Envoyer</button></div>
                    {{ form_end(form) }}
                </div>

            </div>
        </section>
    </main>

{% endblock %}