{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button
                    class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS
                            DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page gallery-page">
        <section id="gallery_bg" class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">IMAGES DU FILM</h2>
                    <p>Voici quelques photogrammes directement tirés du film.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__01457.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__01457_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__02472.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__02472_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__10569.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__10569_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__11656.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__11656_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__119554.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__119554_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__16576.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__16576_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__34820.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__34820_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__42238.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__42238_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__54398.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__54398_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__18612.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__18612_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__19769.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__19769_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="/img/gallery/SURLAPEAU2017__22230.jpeg" class="lightbox"><img src="/img/gallery/thumbnail_movie/SURLAPEAU2017__22230_S.jpeg" class="img-thumbnail img-fluid image" /></a></div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}