{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">JEAN-MARIE GODET</h2>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/actors/jean_marie_godet.jpg">
                                <div class="card-body info">
                                    <h4 class="card-title">Jean-Marie Godet</h4><p class="card-text">Agent <a href="https://www.e-talenta.eu/members/profile/jean-marie-godet" target="blank">e-talenta</a></p></div>
                            </div>
                        </div>
                    </div>
                    <p><br><br><br>Né en région parisienne, il grandi en Italie où il à fréquenté les planches italiennes de 1987 à 1996. <br>Il continue son chemin dans l’art dramatique avec le Théâtre du Nouveau Monde de Montpellier, créé<br>au Théâtre
                        de l’Epée de Bois à la Cartoucherie de Vincennes. Ensuite il s’installe à Paris où il tourne<br>dans plusieurs court-métrages et dans le long-métrage Frappes Interdites, pour la chaîne Arte.<br>Le cinéma lui ouvre ses portes avec
                        une comédie italienne tournée à Cuba dans <em>Faccio un salto all’Avana&nbsp;</em>dans une affaire de sexe tourisme, suivi de <em>Un nuage dans un verre d’eau</em>, un personnage trublion et&nbsp;<em>Nazar Palmus</em> en Lieutenant&nbsp;de&nbsp;Police.<br><br><a href="https://www.imdb.com/name/nm2235236/?ref_=nmbio_bio_nm" target="blank"><i class="icon-film"></i></a><br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}