{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" id="head_bg">
        <div class="container"><a class="navbar-brand logo" href="#" id="navbar-title-slp">SUR LA PEAU&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('home') }}>ACCUEIL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('genese') }}>GENESE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('actors') }}>LES COMEDIENS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href={{ path('scenario') }}>EXTRAITS DU SCENARIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('gallery') }}>GALLERIE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('extraits') }}>EXTRAITS DU FILM</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post-list') }}>ACTUALITES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href={{ path('blog-post') }}>BLOG</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">EXTRAIT DU SCENARIO</h2>
                    <p>Chaque jour un extrait original du scénario sera posté ici.</p>
                </div>
                <div class="row justify-content-center">
                    <p>Extrait d'aujourd'hui:<br><br></p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}